In [6]:
import pandas as pd
import numpy as np
import os, sys
import matplotlib.pyplot as plt
import re

from sklearn import svm
from sklearn.covariance import EllipticEnvelope
from sklearn.ensemble import IsolationForest

champion information

Data

In [7]:
path = "../../data/summoners_info/temp"
user = os.listdir(path)[1:][3]
path_user = path + '/' + user
# user
os.listdir(path_user)

['.DS_Store', 'most_pick.csv', 'solo_rank_games.csv', 'tier.csv']

In [8]:
user

'뽀뿌우'

In [9]:
solo_rank_games = pd.read_csv(path + '/' + user + '/solo_rank_games.csv', 
                              sep='\t', header=0)

solo_rank_games = solo_rank_games.replace(['패배','승리'], [0,1])
solo_rank_games

,Unnamed: 0,champion,ck_rate,cs_per_min,kda,result,timestamp
0,0,쓰레쉬,41,0.8,1.17,0,2017년 6월 19일 오후 3시 29분
1,1,카르마,44,0.4,1.56,1,2017년 6월 19일 오후 2시 57분
2,2,녹턴,67,4.2,1.43,0,2017년 6월 19일 오후 1시 42분
3,3,녹턴,100,5.0,1.43,1,2017년 6월 19일 오후 1시 08분
4,4,녹턴,47,6.2,1.75,0,2017년 6월 19일 오후 12시 50분
5,5,녹턴,65,4.3,2.17,0,2017년 6월 18일 오후 9시 29분
6,6,녹턴,65,4.6,2.50,0,2017년 6월 18일 오후 9시 00분
7,7,녹턴,32,5.8,5.50,1,2017년 6월 18일 오후 8시 20분
8,8,녹턴,64,3.4,0.88,0,2017년 6월 18일 오후 7시 42분
9,9,카르마,52,0.6,2.83,0,2017년 5월 17일 오후 8시 18분
10,10,카르마,60,0.6,1.50,0,2017년 5월 17일 오후 7시 24분
11,11,카르마,36,0.5,0.67,0,2017년 5월 14일 오후 11시 08분
12,12,럭스,46,1.0,0.67,0,2017년 5월 14일 오전 1시 20분
13,13,룰루,79,0.5,11.00,1,2017년 5월 14일 오전 12시 50분
14,14,루시안,55,7.5,2.75,1,2017년 5월 12일 오후 5시 28분
15,15,루시안,45,8.0,3.80,1,2017년 5월 12일 오후 5시 00분
16,16,이즈리얼,40,7.3,0.80,0,2017년 5월 12일 오후 4시 21분
17,17,룰루,91,0.7,7.25,1,2017년 5월 12일 오후 2시 48분
18,18,룰루,65,0.7,7.50,1,2017년 5월 12일 오후 2시 04분
19,19,룰루,57,0.6,4.25,1,2017년 5월 12일 오후 1시 35분
20,20,룰루,67,0.6,8.67,1,2017년 5월 12일 오후 12시 57분
21,21,럭스,12,0.9,0.33,0,2017년 5월 12일 오전 11시 36분
22,22,럭스,33,0.5,1.20,0,2017년 5월 11일 오후 9시 59분
23,23,룰루,48,0.8,1.25,0,2017년 5월 11일 오후 9시 10분
24,24,케넨,57,8.1,5.67,1,2017년 5월 11일 오전 5시 24분
25,25,아리,48,7.1,4.00,0,2017년 5월 11일 오전 4시 24분
26,26,카사딘,53,6.9,4.60,1,2017년 5월 11일 오전 3시 43분
27,27,카사딘,60,4.5,8.00,1,2017년 5월 11일 오전 3시 02분
28,28,카사딘,21,5.6,1.00,0,2017년 5월 11일 오전 2시 27분
29,29,카사딘,63,7.3,6.00,1,2017년 5월 11일 오전 1시 54분
...,...,...,...,...,...,...,...
428,428,카직스,58,4.1,7.67,1,2017년 2월 23일 오후 3시 32분
429,429,카사딘,45,6.4,1.25,0,2017년 2월 23일 오후 2시 40분
430,430,미스 포츈,58,6.5,1.75,0,2017년 2월 23일 오후 2시 11분
431,431,미스 포츈,60,7.6,5.25,1,2017년 2월 23일 오후 1시 22분
432,432,바루스,58,8.2,3.00,0,2017년 2월 23일 오후 12시 34분
433,433,쓰레쉬,74,1.2,2.33,0,2017년 2월 23일 오전 11시 05분
434,434,엘리스,56,2.8,1.25,0,2017년 2월 22일 오후 8시 41분
435,435,바루스,64,7.6,1.80,0,2017년 2월 22일 오후 8시 00분
436,436,바루스,57,6.8,3.38,1,2017년 2월 22일 오후 7시 12분
437,437,미스 포츈,41,1.0,1.86,0,2017년 2월 22일 오후 6시 08분
438,438,나미,38,0.5,1.75,0,2017년 2월 22일 오후 5시 13분
439,439,진,68,5.6,2.88,0,2017년 2월 22일 오후 4시 07분
440,440,진,70,7.3,3.00,0,2017년 2월 22일 오후 3시 18분
441,441,미스 포츈,45,1.2,1.27,1,2017년 2월 22일 오후 2시 27분
442,442,코르키,57,8.1,6.67,1,2017년 2월 22일 오후 1시 46분
443,443,리 신,60,3.3,0.50,0,2017년 2월 22일 오후 12시 38분
444,444,카사딘,58,5.2,3.29,1,2017년 2월 22일 오전 11시 59분
445,445,미스 포츈,46,1.1,3.00,1,2017년 2월 22일 오전 11시 06분
446,446,그레이브즈,58,5.7,5.50,1,2017년 2월 22일 오전 10시 23분
447,447,마스터 이,83,4.0,1.88,0,2017년 2월 22일 오전 9시 39분
448,448,마스터 이,55,7.6,5.50,1,2017년 2월 22일 오전 8시 45분
449,449,카사딘,50,5.3,1.40,0,2017년 2월 22일 오전 8시 10분
450,450,카사딘,70,4.6,4.29,0,2017년 2월 22일 오전 7시 26분
451,451,카사딘,46,8.0,2.71,1,2017년 2월 22일 오전 6시 45분
452,452,카사딘,47,4.5,2.25,0,2017년 2월 22일 오전 5시 50분
453,453,나미,57,0.3,2.29,0,2017년 2월 22일 오전 1시 06분
454,454,나미,42,0.4,1.60,0,2017년 2월 22일 오전 12시 19분
455,455,카르마,50,0.3,1.60,0,2017년 2월 21일 오후 11시 14분
456,456,에코,47,6.5,2.57,1,2017년 2월 21일 오후 10시 24분
457,457,빅토르,38,8.7,3.00,0,2017년 2월 21일 오후 9시 43분

In [10]:
d = []
t = []
s = solo_rank_games['timestamp']
for i in range(len(s)):
    ss = s[i]
    result1 = re.search('년 (.*)일', ss).group(1)
    result1 = result1.replace('월 ', '.')
    result2 = re.search('오(.*)분', ss).group(1)
    if result2[0] == '후':
        result2 = str(float(result2[2:].replace('시 ', '.')) + 12)
        if len(result2) > 4:
            result2 = result2[:5]
    else:
        result2 = str(result2[2:].replace('시 ', '.'))
    d.append(result1)
    t.append(result2)

solo_rank_games['date'] = d
solo_rank_games['time'] = t
# pd.to_datetime(solo_rank_games['time'], format='')
# solo_rank_games['time'] = pd.to_datetime(t, format='%H.%M')
solo_rank_games

,Unnamed: 0,champion,ck_rate,cs_per_min,kda,result,timestamp,date,time
0,0,쓰레쉬,41,0.8,1.17,0,2017년 6월 19일 오후 3시 29분,6.19,15.29
1,1,카르마,44,0.4,1.56,1,2017년 6월 19일 오후 2시 57분,6.19,14.57
2,2,녹턴,67,4.2,1.43,0,2017년 6월 19일 오후 1시 42분,6.19,13.42
3,3,녹턴,100,5.0,1.43,1,2017년 6월 19일 오후 1시 08분,6.19,13.08
4,4,녹턴,47,6.2,1.75,0,2017년 6월 19일 오후 12시 50분,6.19,24.5
5,5,녹턴,65,4.3,2.17,0,2017년 6월 18일 오후 9시 29분,6.18,21.29
6,6,녹턴,65,4.6,2.50,0,2017년 6월 18일 오후 9시 00분,6.18,21.0
7,7,녹턴,32,5.8,5.50,1,2017년 6월 18일 오후 8시 20분,6.18,20.2
8,8,녹턴,64,3.4,0.88,0,2017년 6월 18일 오후 7시 42분,6.18,19.42
9,9,카르마,52,0.6,2.83,0,2017년 5월 17일 오후 8시 18분,5.17,20.18
10,10,카르마,60,0.6,1.50,0,2017년 5월 17일 오후 7시 24분,5.17,19.24
11,11,카르마,36,0.5,0.67,0,2017년 5월 14일 오후 11시 08분,5.14,23.08
12,12,럭스,46,1.0,0.67,0,2017년 5월 14일 오전 1시 20분,5.14,1.20
13,13,룰루,79,0.5,11.00,1,2017년 5월 14일 오전 12시 50분,5.14,12.50
14,14,루시안,55,7.5,2.75,1,2017년 5월 12일 오후 5시 28분,5.12,17.28
15,15,루시안,45,8.0,3.80,1,2017년 5월 12일 오후 5시 00분,5.12,17.0
16,16,이즈리얼,40,7.3,0.80,0,2017년 5월 12일 오후 4시 21분,5.12,16.21
17,17,룰루,91,0.7,7.25,1,2017년 5월 12일 오후 2시 48분,5.12,14.48
18,18,룰루,65,0.7,7.50,1,2017년 5월 12일 오후 2시 04분,5.12,14.04
19,19,룰루,57,0.6,4.25,1,2017년 5월 12일 오후 1시 35분,5.12,13.35
20,20,룰루,67,0.6,8.67,1,2017년 5월 12일 오후 12시 57분,5.12,24.57
21,21,럭스,12,0.9,0.33,0,2017년 5월 12일 오전 11시 36분,5.12,11.36
22,22,럭스,33,0.5,1.20,0,2017년 5월 11일 오후 9시 59분,5.11,21.59
23,23,룰루,48,0.8,1.25,0,2017년 5월 11일 오후 9시 10분,5.11,21.1
24,24,케넨,57,8.1,5.67,1,2017년 5월 11일 오전 5시 24분,5.11,5.24
25,25,아리,48,7.1,4.00,0,2017년 5월 11일 오전 4시 24분,5.11,4.24
26,26,카사딘,53,6.9,4.60,1,2017년 5월 11일 오전 3시 43분,5.11,3.43
27,27,카사딘,60,4.5,8.00,1,2017년 5월 11일 오전 3시 02분,5.11,3.02
28,28,카사딘,21,5.6,1.00,0,2017년 5월 11일 오전 2시 27분,5.11,2.27
29,29,카사딘,63,7.3,6.00,1,2017년 5월 11일 오전 1시 54분,5.11,1.54
...,...,...,...,...,...,...,...,...,...
428,428,카직스,58,4.1,7.67,1,2017년 2월 23일 오후 3시 32분,2.23,15.32
429,429,카사딘,45,6.4,1.25,0,2017년 2월 23일 오후 2시 40분,2.23,14.4
430,430,미스 포츈,58,6.5,1.75,0,2017년 2월 23일 오후 2시 11분,2.23,14.11
431,431,미스 포츈,60,7.6,5.25,1,2017년 2월 23일 오후 1시 22분,2.23,13.22
432,432,바루스,58,8.2,3.00,0,2017년 2월 23일 오후 12시 34분,2.23,24.34
433,433,쓰레쉬,74,1.2,2.33,0,2017년 2월 23일 오전 11시 05분,2.23,11.05
434,434,엘리스,56,2.8,1.25,0,2017년 2월 22일 오후 8시 41분,2.22,20.41
435,435,바루스,64,7.6,1.80,0,2017년 2월 22일 오후 8시 00분,2.22,20.0
436,436,바루스,57,6.8,3.38,1,2017년 2월 22일 오후 7시 12분,2.22,19.12
437,437,미스 포츈,41,1.0,1.86,0,2017년 2월 22일 오후 6시 08분,2.22,18.08
438,438,나미,38,0.5,1.75,0,2017년 2월 22일 오후 5시 13분,2.22,17.13
439,439,진,68,5.6,2.88,0,2017년 2월 22일 오후 4시 07분,2.22,16.07
440,440,진,70,7.3,3.00,0,2017년 2월 22일 오후 3시 18분,2.22,15.18
441,441,미스 포츈,45,1.2,1.27,1,2017년 2월 22일 오후 2시 27분,2.22,14.27
442,442,코르키,57,8.1,6.67,1,2017년 2월 22일 오후 1시 46분,2.22,13.46
443,443,리 신,60,3.3,0.50,0,2017년 2월 22일 오후 12시 38분,2.22,24.38
444,444,카사딘,58,5.2,3.29,1,2017년 2월 22일 오전 11시 59분,2.22,11.59
445,445,미스 포츈,46,1.1,3.00,1,2017년 2월 22일 오전 11시 06분,2.22,11.06
446,446,그레이브즈,58,5.7,5.50,1,2017년 2월 22일 오전 10시 23분,2.22,10.23
447,447,마스터 이,83,4.0,1.88,0,2017년 2월 22일 오전 9시 39분,2.22,9.39
448,448,마스터 이,55,7.6,5.50,1,2017년 2월 22일 오전 8시 45분,2.22,8.45
449,449,카사딘,50,5.3,1.40,0,2017년 2월 22일 오전 8시 10분,2.22,8.10
450,450,카사딘,70,4.6,4.29,0,2017년 2월 22일 오전 7시 26분,2.22,7.26
451,451,카사딘,46,8.0,2.71,1,2017년 2월 22일 오전 6시 45분,2.22,6.45
452,452,카사딘,47,4.5,2.25,0,2017년 2월 22일 오전 5시 50분,2.22,5.50
453,453,나미,57,0.3,2.29,0,2017년 2월 22일 오전 1시 06분,2.22,1.06
454,454,나미,42,0.4,1.60,0,2017년 2월 22일 오전 12시 19분,2.22,12.19
455,455,카르마,50,0.3,1.60,0,2017년 2월 21일 오후 11시 14분,2.21,23.14
456,456,에코,47,6.5,2.57,1,2017년 2월 21일 오후 10시 24분,2.21,22.24
457,457,빅토르,38,8.7,3.00,0,2017년 2월 21일 오후 9시 43분,2.21,21.43

In [11]:
solo_rank_games.drop(['timestamp'], axis=1, inplace=True)

In [12]:
solo_rank_games 

solorank = solo_rank_games[['ck_rate', 'cs_per_min', 'kda']]
x = solorank
x

     ck_rate  cs_per_min    kda
0         41         0.8   1.17
1         44         0.4   1.56
2         67         4.2   1.43
3        100         5.0   1.43
4         47         6.2   1.75
5         65         4.3   2.17
6         65         4.6   2.50
7         32         5.8   5.50
8         64         3.4   0.88
9         52         0.6   2.83
10        60         0.6   1.50
11        36         0.5   0.67
12        46         1.0   0.67
13        79         0.5  11.00
14        55         7.5   2.75
15        45         8.0   3.80
16        40         7.3   0.80
17        91         0.7   7.25
18        65         0.7   7.50
19        57         0.6   4.25
20        67         0.6   8.67
21        12         0.9   0.33
22        33         0.5   1.20
23        48         0.8   1.25
24        57         8.1   5.67
25        48         7.1   4.00
26        53         6.9   4.60
27        60         4.5   8.00
28        21         5.6   1.00
29        63         7.3   6.00
..       ...         ...    ...
428       58         4.1   7.67
429       45         6.4   1.25
430       58         6.5   1.75
431       60         7.6   5.25
432       58         8.2   3.00
433       74         1.2   2.33
434       56         2.8   1.25
435       64         7.6   1.80
436       57         6.8   3.38
437       41         1.0   1.86
438       38         0.5   1.75
439       68         5.6   2.88
440       70         7.3   3.00
441       45         1.2   1.27
442       57         8.1   6.67
443       60         3.3   0.50
444       58         5.2   3.29
445       46         1.1   3.00
446       58         5.7   5.50
447       83         4.0   1.88
448       55         7.6   5.50
449       50         5.3   1.40
450       70         4.6   4.29
451       46         8.0   2.71
452       47         4.5   2.25
453       57         0.3   2.29
454       42         0.4   1.60
455       50         0.3   1.60
456       47         6.5   2.57
457       38         8.7   3.00

[458 rows x 3 columns]

In [13]:
tier = pd.read_csv(path + '/' + user + '/tier.csv', header=0, sep='\t')
tier[['month', 'tier']]

     month      tier
0  2016.11   S4-80LP
1  2016.12   B2-79LP
2  2017.01   S5-37LP
3  2017.02   G5-65LP
4  2017.03   G5-40LP
5  2017.04  G4-100LP
6  2017.05    P5-0LP
7  2017.06   G1-29LP

In [16]:
most_pick = pd.read_csv(path + '/' + user + '/most_pick2.csv', header=0, sep='\t').iloc[:5]

In [17]:
most_pick

,Unnamed: 0,avg_dmg_giv,avg_dmg_rec,champion,cs,gold,kda,most_death,most_kill,tower,win_ratio
0,0,"39,185","13,905",럭스,32.3,"9,172",1.94,18,14,0.43,39
1,1,"29,541","14,259",카르마,23.7,"8,526",2.01,12,6,0.32,40
2,2,"15,746","14,785",나미,11.3,"8,669",2.45,14,5,0.33,48
3,3,"53,022","18,128",미스 포츈,53.6,"10,144",1.56,15,16,0.63,44
4,4,"121,459","22,868",카사딘,175.6,"13,077",4.52,8,24,1.08,74

In [55]:
x

     ck_rate  cs_per_min    kda
0         41         0.8   1.17
1         44         0.4   1.56
2         67         4.2   1.43
3        100         5.0   1.43
4         47         6.2   1.75
5         65         4.3   2.17
6         65         4.6   2.50
7         32         5.8   5.50
8         64         3.4   0.88
9         52         0.6   2.83
10        60         0.6   1.50
11        36         0.5   0.67
12        46         1.0   0.67
13        79         0.5  11.00
14        55         7.5   2.75
15        45         8.0   3.80
16        40         7.3   0.80
17        91         0.7   7.25
18        65         0.7   7.50
19        57         0.6   4.25
20        67         0.6   8.67
21        12         0.9   0.33
22        33         0.5   1.20
23        48         0.8   1.25
24        57         8.1   5.67
25        48         7.1   4.00
26        53         6.9   4.60
27        60         4.5   8.00
28        21         5.6   1.00
29        63         7.3   6.00
..       ...         ...    ...
428       58         4.1   7.67
429       45         6.4   1.25
430       58         6.5   1.75
431       60         7.6   5.25
432       58         8.2   3.00
433       74         1.2   2.33
434       56         2.8   1.25
435       64         7.6   1.80
436       57         6.8   3.38
437       41         1.0   1.86
438       38         0.5   1.75
439       68         5.6   2.88
440       70         7.3   3.00
441       45         1.2   1.27
442       57         8.1   6.67
443       60         3.3   0.50
444       58         5.2   3.29
445       46         1.1   3.00
446       58         5.7   5.50
447       83         4.0   1.88
448       55         7.6   5.50
449       50         5.3   1.40
450       70         4.6   4.29
451       46         8.0   2.71
452       47         4.5   2.25
453       57         0.3   2.29
454       42         0.4   1.60
455       50         0.3   1.60
456       47         6.5   2.57
457       38         8.7   3.00

[458 rows x 3 columns]

In [56]:
outliers_fraction = 0.05

isolation forest

In [57]:

anomaly

     ck_rate  cs_per_min    kda
3        100         5.0   1.43
13        79         0.5  11.00
17        91         0.7   7.25
21        12         0.9   0.33
40        78         6.0  15.50
43        59         6.6  19.00
56        68         8.8  13.00
57        66         8.7  21.00
59        46         7.7  17.00
79        61         7.8  22.00
106       29         0.2   6.00
166       37         8.0  14.00
168       48        10.0  13.00
207       14         0.9   0.33
212       50        10.0  11.00
230       65         6.8  22.00
253       70         0.5  14.00
261       17         0.2   0.25
262       77         0.3   1.25
265       72         2.0   3.88
301       80         0.4   0.80
391       66         7.2  21.00
398       58         3.2  15.00

In [69]:
clf= IsolationForest(n_estimators=10, contamination=outliers_fraction)
clf.fit(x)
y = clf.predict(x)
a_index = np.where(y==-1)
anomaly = x.iloc[a_index]
solo_rank_games.iloc[anomaly.index]
a = solo_rank_games.iloc[anomaly.index]
a.loc[a['result'] == 1]

     Unnamed: 0 champion  ck_rate  cs_per_min    kda  result  date   time
3             3       녹턴      100         5.0   1.43       1  6.19  13.08
13           13       룰루       79         0.5  11.00       1  5.14  12.50
40           40      카사딘       78         6.0  15.50       1   5.9   22.5
43           43      카사딘       59         6.6  19.00       1   5.9   5.39
56           56      바루스       68         8.8  13.00       1   5.7  21.39
57           57      바루스       66         8.7  21.00       1   5.7  21.11
59           59        진       46         7.7  17.00       1   5.7  19.59
79           79       케넨       61         7.8  22.00       1   5.6  11.11
83           83      카직스       59         4.1  16.00       1   5.6   8.28
91           91      카직스       47         3.6  14.00       1   5.6   2.31
98           98      코그모       38         5.8  15.00       1   5.4   6.18
166         166      카사딘       37         8.0  14.00       1  4.29   1.44
167         167      카사딘       36         7.4   9.00       1  4.29   1.05
168         168      신드라       48        10.0  13.00       1  4.29  12.32
190         190      제이스       81         7.8   8.50       1  4.27  12.30
193         193      레넥톤       36         7.6   9.00       1  4.26  22.29
208         208       럭스       57         0.8  12.00       1  4.25   2.46
212         212       리븐       50        10.0  11.00       1  4.10  14.19
230         230      루시안       65         6.8  22.00       1   4.8  22.49
253         253       럭스       70         0.5  14.00       1   4.3   4.36
378         378       럭스       53         1.0  10.00       1   3.1  23.08
391         391        진       66         7.2  21.00       1  2.27   9.38

In [59]:
solo_rank_games

     Unnamed: 0 champion  ck_rate  cs_per_min    kda  result  date   time
0             0      쓰레쉬       41         0.8   1.17       0  6.19  15.29
1             1      카르마       44         0.4   1.56       1  6.19  14.57
2             2       녹턴       67         4.2   1.43       0  6.19  13.42
3             3       녹턴      100         5.0   1.43       1  6.19  13.08
4             4       녹턴       47         6.2   1.75       0  6.19   24.5
5             5       녹턴       65         4.3   2.17       0  6.18  21.29
6             6       녹턴       65         4.6   2.50       0  6.18   21.0
7             7       녹턴       32         5.8   5.50       1  6.18   20.2
8             8       녹턴       64         3.4   0.88       0  6.18  19.42
9             9      카르마       52         0.6   2.83       0  5.17  20.18
10           10      카르마       60         0.6   1.50       0  5.17  19.24
11           11      카르마       36         0.5   0.67       0  5.14  23.08
12           12       럭스       46         1.0   0.67       0  5.14   1.20
13           13       룰루       79         0.5  11.00       1  5.14  12.50
14           14      루시안       55         7.5   2.75       1  5.12  17.28
15           15      루시안       45         8.0   3.80       1  5.12   17.0
16           16     이즈리얼       40         7.3   0.80       0  5.12  16.21
17           17       룰루       91         0.7   7.25       1  5.12  14.48
18           18       룰루       65         0.7   7.50       1  5.12  14.04
19           19       룰루       57         0.6   4.25       1  5.12  13.35
20           20       룰루       67         0.6   8.67       1  5.12  24.57
21           21       럭스       12         0.9   0.33       0  5.12  11.36
22           22       럭스       33         0.5   1.20       0  5.11  21.59
23           23       룰루       48         0.8   1.25       0  5.11   21.1
24           24       케넨       57         8.1   5.67       1  5.11   5.24
25           25       아리       48         7.1   4.00       0  5.11   4.24
26           26      카사딘       53         6.9   4.60       1  5.11   3.43
27           27      카사딘       60         4.5   8.00       1  5.11   3.02
28           28      카사딘       21         5.6   1.00       0  5.11   2.27
29           29      카사딘       63         7.3   6.00       1  5.11   1.54
..          ...      ...      ...         ...    ...     ...   ...    ...
428         428      카직스       58         4.1   7.67       1  2.23  15.32
429         429      카사딘       45         6.4   1.25       0  2.23   14.4
430         430    미스 포츈       58         6.5   1.75       0  2.23  14.11
431         431    미스 포츈       60         7.6   5.25       1  2.23  13.22
432         432      바루스       58         8.2   3.00       0  2.23  24.34
433         433      쓰레쉬       74         1.2   2.33       0  2.23  11.05
434         434      엘리스       56         2.8   1.25       0  2.22  20.41
435         435      바루스       64         7.6   1.80       0  2.22   20.0
436         436      바루스       57         6.8   3.38       1  2.22  19.12
437         437    미스 포츈       41         1.0   1.86       0  2.22  18.08
438         438       나미       38         0.5   1.75       0  2.22  17.13
439         439        진       68         5.6   2.88       0  2.22  16.07
440         440        진       70         7.3   3.00       0  2.22  15.18
441         441    미스 포츈       45         1.2   1.27       1  2.22  14.27
442         442      코르키       57         8.1   6.67       1  2.22  13.46
443         443      리 신       60         3.3   0.50       0  2.22  24.38
444         444      카사딘       58         5.2   3.29       1  2.22  11.59
445         445    미스 포츈       46         1.1   3.00       1  2.22  11.06
446         446    그레이브즈       58         5.7   5.50       1  2.22  10.23
447         447    마스터 이       83         4.0   1.88       0  2.22   9.39
448         448    마스터 이       55         7.6   5.50       1  2.22   8.45
449         449      카사딘       50         5.3   1.40       0  2.22   8.10
450         450      카사딘       70         4.6   4.29       0  2.22   7.26
451         451      카사딘       46         8.0   2.71       1  2.22   6.45
452         452      카사딘       47         4.5   2.25       0  2.22   5.50
453         453       나미       57         0.3   2.29       0  2.22   1.06
454         454       나미       42         0.4   1.60       0  2.22  12.19
455         455      카르마       50         0.3   1.60       0  2.21  23.14
456         456       에코       47         6.5   2.57       1  2.21  22.24
457         457      빅토르       38         8.7   3.00       0  2.21  21.43

[458 rows x 8 columns]

one class svm

In [60]:
clf = svm.OneClassSVM(nu=0.95 * outliers_fraction + 0.05, kernel="rbf", gamma=0.1)
clf.fit(x)
y = clf.predict(x)
a_index = np.where(y==-1)
anomaly = x.iloc[a_index]
anomaly
len(anomaly)

87

In [61]:
solo_rank_games.iloc[anomaly.index]
a = solo_rank_games.iloc[anomaly.index]
a.loc[a['result'] == 1]

     Unnamed: 0 champion  ck_rate  cs_per_min    kda  result  date   time
3             3       녹턴      100         5.0   1.43       1  6.19  13.08
17           17       룰루       91         0.7   7.25       1  5.12  14.48
18           18       룰루       65         0.7   7.50       1  5.12  14.04
36           36        진       59         6.3  13.00       1  5.10  21.28
41           41      카사딘       56         4.7   5.40       1   5.9  22.11
42           42      카사딘       66         5.4   7.00       1   5.9   6.28
48           48      바루스       48         6.2   7.00       1   5.9   2.43
52           52       럭스       39         0.6   5.00       1   5.8  22.38
79           79       케넨       61         7.8  22.00       1   5.6  11.11
93           93      바루스       47         6.8   6.67       1   5.6   1.02
94           94    마스터 이       41         6.1   4.50       1   5.5  21.50
95           95      카직스       63         4.8   5.67       1   5.5   21.1
115         115       카밀       30         5.5   3.00       1   5.2   3.18
117         117      트위치       68         3.4   3.38       1   5.2   1.55
128         128       리븐       28         6.3   3.50       1  4.30  13.36
141         141      클레드       82         6.5   6.20       1  4.30   5.14
159         159      제이스       27         8.4   6.00       1  4.29  15.52
163         163      르블랑       23         6.4   1.40       1  4.29  24.59
183         183       리븐       57         9.0   6.00       1  4.27   6.09
185         185      카직스       76         5.1   5.00       1  4.27   4.54
193         193      레넥톤       36         7.6   9.00       1  4.26  22.29
208         208       럭스       57         0.8  12.00       1  4.25   2.46
216         216      루시안       42         8.1   2.67       1  4.10  11.01
223         223      클레드       58         5.0   3.71       1   4.9   19.0
234         234      판테온       59         6.1   7.67       1   4.8   19.5
237         237      카사딘       73         4.7   6.75       1   4.8  17.43
253         253       럭스       70         0.5  14.00       1   4.3   4.36
259         259       럭스       33         0.8   2.25       1   4.2  15.15
260         260       럭스       52         0.3   8.50       1   4.2  14.37
290         290     이즈리얼       37         9.5   4.33       1  3.10  12.48
295         295     이즈리얼       67         8.0   7.33       1   3.9  24.08
302         302       나미       26         0.1   0.80       1   3.7  20.36
334         334       에코       54         6.9   6.67       1   3.5  18.00
339         339    블라디미르       34         7.0   5.00       1   3.5  14.21
352         352       나미       55         0.7   8.50       1   3.4   3.18
358         358       애쉬       52         7.3  15.00       1   3.3   19.5
378         378       럭스       53         1.0  10.00       1   3.1  23.08
384         384      판테온       19         8.2   3.00       1   3.1   13.4
389         389    미스 포츈       56         7.6   7.33       1  2.28   6.56
391         391        진       66         7.2  21.00       1  2.27   9.38
393         393      라이즈       59         8.8   3.83       1  2.25   16.0
395         395      라이즈       52         8.9   5.50       1  2.25  13.59
403         403      카사딘       59         5.3   4.40       1  2.24  11.11
406         406      제이스       57         7.3  16.00       1  2.24   8.30
418         418      루시안       60         8.8   3.75       1  2.23  22.42
427         427      카직스       46         3.9   4.20       1  2.23  16.17
428         428      카직스       58         4.1   7.67       1  2.23  15.32
451         451      카사딘       46         8.0   2.71       1  2.22   6.45

covariance EllipticEnvelope

In [63]:
clf = EllipticEnvelope(contamination=outliers_fraction)
clf.fit(x)
y = clf.predict(x)
an_index = np.where(y==-1)
anomaly = x.iloc[an_index]
solo_rank_games.iloc[anomaly.index]
a = solo_rank_games.iloc[anomaly.index]
a.loc[a['result'] == 1]

     Unnamed: 0 champion  ck_rate  cs_per_min   kda  result  date   time
36           36        진       59         6.3  13.0       1  5.10  21.28
40           40      카사딘       78         6.0  15.5       1   5.9   22.5
43           43      카사딘       59         6.6  19.0       1   5.9   5.39
57           57      바루스       66         8.7  21.0       1   5.7  21.11
59           59        진       46         7.7  17.0       1   5.7  19.59
67           67    그레이브즈       52         7.2  17.0       1   5.7   4.08
79           79       케넨       61         7.8  22.0       1   5.6  11.11
83           83      카직스       59         4.1  16.0       1   5.6   8.28
91           91      카직스       47         3.6  14.0       1   5.6   2.31
98           98      코그모       38         5.8  15.0       1   5.4   6.18
166         166      카사딘       37         8.0  14.0       1  4.29   1.44
168         168      신드라       48        10.0  13.0       1  4.29  12.32
169         169      카사딘       77         5.9  13.5       1  4.28   4.24
208         208       럭스       57         0.8  12.0       1  4.25   2.46
230         230      루시안       65         6.8  22.0       1   4.8  22.49
253         253       럭스       70         0.5  14.0       1   4.3   4.36
312         312    그레이브즈       60         6.2  15.0       1   3.7  24.23
358         358       애쉬       52         7.3  15.0       1   3.3   19.5
369         369       아리       48         7.8  13.0       1   3.2  20.18
391         391        진       66         7.2  21.0       1  2.27   9.38
398         398      이블린       58         3.2  15.0       1  2.24  18.02
406         406      제이스       57         7.3  16.0       1  2.24   8.30
425         425    그레이브즈       41         5.7  17.0       1  2.23  17.53

In [65]:
user

'뽀뿌우'

In [67]:
months = ['2016.11', '2016.12', '2017.01', '2017.02', '2017.03', '2017.04', '2017.05', '2017.06']
tiers = ['S4-80LP', 'B2-79LP', 'S5-37LP', 'G5-65LP', 'G5-40LP', 'G4-100LP', 'P5-0LP', 'G1-29LP']

tier_graph = pd.DataFrame({
            'month': months,
            'tier': tiers
            })

tier_graph.to_csv(path + '/' + user + '/tier.csv', sep='\t', encoding='utf-8', header=True)